---

---

<footer class="w-full md:gap-4 gap-5 p-4 grid_container-footer">
  <div class="w-full flex flex-col gap-5">
    <h1 class="text-white font-bold text-xl">About</h1>
    <p class="text-slate-300">
      BodaGlam is your comprehensive platform for managing and viewing posts
      related to weddings and glamorous events. With a powerful API on the
      backend, our platform offers two distinct but complementary interfaces:
      one created in Astro for a smooth and attractive post viewing experience,
      and another developed in React for complete account and post management.
    </p>
  </div>
  <div class="w-52 flex flex-col gap-5">
    <h1 class="text-white font-bold text-xl">Categories</h1>
    <ul class="w-full flex flex-col justify-center text-slate-300 gap-3">
      <li>Engagement</li>
      <li>Makeup</li>
      <li>Photography</li>
      <li>Reception</li>
      <li>Style</li>
      <li>Wedding</li>
    </ul>
  </div>
  <div class="w-full flex-col flex gap-5">
    <h1 class="text-white font-bold text-xl">Gallery</h1>
    <figure
      class="w-full gap-1 grid_container-footer_gallery justify-items-center"
    >
      <img
        src="https://res.cloudinary.com/dtkskpitc/image/upload/v1712119764/bg_perfil/wxtbn5tvmbo7oklcylkg.jpg"
        alt="boda-1"
        class="w-full"
      />
      <img
        src="https://res.cloudinary.com/dtkskpitc/image/upload/v1712119792/bg_perfil/elinonueqktw3hmy5j06.jpg"
        alt="boda-2"
        class="w-full"
      />
      <img
        src="https://res.cloudinary.com/dtkskpitc/image/upload/v1712119809/bg_perfil/ydqh6mmxz13xfviyhou5.jpg"
        alt="boda-3"
        class="w-full"
      />
      <img
        src="https://res.cloudinary.com/dtkskpitc/image/upload/v1712119831/bg_perfil/pxl06g6ibom5b8g90pce.jpg"
        alt="boda-4"
        class="w-full"
      />
      <img
        src="https://res.cloudinary.com/dtkskpitc/image/upload/v1712119872/bg_perfil/ywlcgiwjfuslhwshhd9r.jpg"
        alt="boda-5"
        class="w-full"
      />
      <img
        src="https://res.cloudinary.com/dtkskpitc/image/upload/v1712119883/bg_perfil/mrhhwkqnddrwaqz4tosw.jpg"
        alt="boda-6"
        class="w-full"
      />
    </figure>
  </div>
</footer>

<style>
  .grid_container-footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: #111;
  }

  .grid_container-footer_gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(96px, 1fr));
  }

  @media only screen and (max-width: 1170px) {
    .grid_container-footer {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .grid_container-footer_gallery {
      grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    }
  }

  @media only screen and (max-width: 920px) {
    .grid_container-footer_gallery {
      grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
    }
  }

  @media only screen and (max-width: 830px) {
    .grid_container-footer {
      grid-template-columns: 1fr;
    }

    .grid_container-footer_gallery {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  @media only screen and (max-width: 765px) {
    .grid_container-footer_gallery {
      grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
  }
</style>
